
<% if @images.any? %>
   <ul>
    <% @images.each do |image| %>
   <% if image.photo.attached? %>
    <li>  <%= link_to image_tag(image.photo), image_path(image)  %></li>
    <% end %>
  <% end %>
    
  </ul>
  
<% else %>
<p>No images hurrr</p>
<% end %>